// Container
@use './vars' as *;

.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1450) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}



html {
  font-size: 62.5%;  /* 1rem = 10px */
}

body {
    font-family: $fontMain;
    &.locked {
        overflow: hidden;
    }
    // Dark mode styles
    &.dark {
        background: #242424;
    }
}

// Animations
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a {
  color: var(--white);
}

p {
  color: var(--white);
}







/* Bootstrap -------*/

.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}

.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw700 {
  font-weight: 700;
}





.ts-56 {
  font-size: 5.6rem;
}
.ts-40 {
  font-size: 4rem;
}
.ts-28 {
  font-size: 2.8rem;
}
.ts-24 {
  font-size: 2.4rem;
}
.ts-20 {
  font-size: 2rem;
}
.ts-18 {
  font-size: 1.8rem;
}
.ts-16 {
  font-size: 1.6rem;
}
.ts-14 {
  font-size: 1.4rem;
}
.ts-12 {
  font-size: 1.2rem;
}
.ts-11 {
  font-size: 1.1rem;
}


/* @include max-width(sm) {
  .ts-sm-56 { font-size: 5.6rem; }
  .ts-sm-40 { font-size: 4rem; }
  .ts-sm-32 { font-size: 3.2rem; }
  .ts-sm-28 { font-size: 2.8rem; }
  .ts-sm-24 { font-size: 2.4rem; }
  .ts-sm-20 { font-size: 2rem; }
  .ts-sm-18 { font-size: 1.8rem; }
  .ts-sm-16 { font-size: 1.6rem; }
  .ts-sm-14 { font-size: 1.4rem; }
  .ts-sm-12 { font-size: 1.2rem; }
  .ts-sm-11 { font-size: 1.1rem; }
} */

/* Bootstrap -------*/








/* ____________________________________ end */
/* position senter */
/*   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

/* cart */
/* &__item {
    flex: 0 0 calc(25% - 16px);
    max-width: 100%;
} */

/* input {
  text-decoration: none;
  border: none;        
  outline: none;
} */

/*   p {
    font-size: clamp(14px, 2vw, 16px);
    line-height: clamp(1.6rem, 2vw, 2.2rem);
  } */

/*   отспуты бустрап 
*/
/*   --bs-gutter-x: 50px; 
    --bs-gutter-y: 50px; */
