   <!--  range -->
   <div class="range">
    <div class="range__inner">
      <div class="range__labal">Week change</div>
      <span class="range__price">1.0762</span>
      <input class="range__input" type="range" id="min-price" min="1.0762" max="1.0810" value="1.0810" step="0.0001"
        oninput="updatePriceRange()">
      <div class="progress-bar">
        <div class="progress-bar-inner" id="progress-bar-inner"></div>
      </div>
      <span id="min-price-display" class="range__price">1.0810</span>
    </div>

    
    <div class="range__inner">
      <div class="range__labal">Week change</div>
      <span id="max-price-display" class="range__price" >1.0762</span>
      <input class="range__input-min range__input-min" type="range" id="max-price" min="1.0762" max="1.0810" value="1.0810" step="0.0001"
        oninput="updatePriceRange()">
      <div class="progress-wrapper">
        <div class="progress-wrapper-inner" id="progress-wrapper-inner"></div>
      </div>
      <span class="range__price">1.0910</span>
    </div>

  </div>
  <!--  range -->