                <div class="user-nav">
                    <a class="user-nav__link user-nav__verification" href="#">
                        <img class="user-nav__link-img" src="/images/icons/user.svg" alt="">
                        <ul class="user-nav__ul">
                        <li class="user-nav__li user-nav__registration modal__btn">registration</li>
                        <li class="user-nav__li user-nav__authorization modalRegist__btn">authorization</li>
                    </ul>
                    </a>
                    <a class="user-nav__link navigation__search" href="#">
                        <img class="user-nav__link-img" src="/images/icons/search.svg" alt="">
                    </a>
                    <a class="user-nav__link user-nav__link-like modal__like-btn" href="#">
                        <img class="user-nav__link-img" src="/images/icons/heart_icon.svg" alt="">
                        <span class="user-nav__num">0</span>
                    </a>
                    <a class="user-nav__link user-nav__link-basket" href="#">
                        <img class="user-nav__link-img" src="/images/icons/cart_icon.svg" alt="">
                        <span class="user-nav__num user-nav__basket">0</span>
                    </a>
                </div>

