.acardion {

    &__inner {
        display: flex;
        gap: 20px;
    }

    &__content-box {

        max-width: 100px;
        width: 100%;
    }

    &__item-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content-box {
        cursor: pointer;
    }

    &__item {
        margin-top: 10px;
        font-size: 20px;
    }

    &__content {
        position: relative;
    }

    &__item-content {
        position: absolute;
        opacity: 0;
    }

    &__item-content.active {
        opacity: 1;
    }

    .acardion__arrow.acitve {}
}