<div id='accordion1' class="acardion">
    <div class="wrapper">
        <!-- Accordion -->
        <div class="acardion__inner">

            <ul class="acardion__items acardion__content-box">
                <li class="acardion__item  acardion__item-box">
                    <div class="accordion1__title">
                        qqq-1
                    </div>
                    <span class="acardion__arrow">></span>
                </li>
                <li class="acardion__item  acardion__item-box">
                    <div class="accordion1__title">
                        qqq-2
                    </div>
                    <span class="acardion__arrow">></span>
                </li>
                <li class="acardion__item  acardion__item-box">
                    <div class="accordion1__title">
                        qqq-3
                    </div>
                    <span class="acardion__arrow">></span>
                </li>
                <li class="acardion__item  acardion__item-box">
                    <div class="accordion1__title">
                        qqq-4
                    </div>
                    <span class="acardion__arrow">></span>
                </li>

            </ul>


            <ul class="acardion__items acardion__content">
                <li class="acardion__item acardion__item-content active">ww-1</li>
                <li class="acardion__item acardion__item-content">ww-2</li>
                <li class="acardion__item acardion__item-content">ww-3</li>
                <li class="acardion__item acardion__item-content">w-4</li>
            </ul>


        </div>






    </div>
</div>