@use "../base/vars" as *;
// ========================= [ Header styles ] =========================
.header {
  position: fixed;
  background: #fff;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    max-width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
  }

  &__desktop {
    padding: 20px 0px;
    z-index: 1;
    position: unset;
    opacity: 1;

    &.disabled {
      position: absolute;
      z-index: -2;
      opacity: 0;
    }
  }

  &__mobile {
    padding: 20px 0px;
    display: none;
  }

  &__box {
    border: 2px solid #f2f2f2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    height: 50px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;

    &:hover {
      background: #1577ca;
      transition: all 0.5s;

      svg {
        stroke: #fff;
        transition: all 0.5s;
      }
    }

    svg {
      width: 26px;
      height: 26px;
      stroke: #1577ca;
      fill: transparent;
    }

    span {
      position: absolute;
      border-radius: 50%;
      background: gray;
      color: #fff;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: -10px;
      top: -6px;
      z-index: 2;
    }
  }

  &__box + &__box {
    margin-left: 15px;
  }

  .header__tel {
    display: block;
    max-width: 187px;
    width: 100%;
    margin-left: 20px;
    margin-right: 30px;
    color: black;
    transition: all 0.5s;
    font-size: 20px;

    &:hover {
      color: #1577ca;
      transition: all 0.5s;
    }
  }
  /* nav */
  .nav__menu {
    .menu {
      display: flex;
      gap: 5px;
    }
  }

  &__box-detals {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .header__languages {
    display: flex;
    gap: 8px;
  }

  .languages__link {
    color: #040810;
    font-size: 17px;

    transition: all 0.5s;
  }

  .languages__link.active {
    color: #1577ca;
    font-size: 17px;

    transition: all 0.5s;
  }
}

/* ===============================
   CATALOG MENU
================================ */


.catalog {
  position: relative;
  bottom: -20px;
  opacity: 0;
  transform: translateY(40px);
  z-index: -1;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  display: block; // заменили display:none
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.6s ease, transform 0.6s ease;

  &.active {
    animation: showNav 0.6s ease forwards;
    z-index: 2;
    padding: 25px 30px 40px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }

  /* ---------- TITLE ---------- */
  &__title {
    padding: 25px 0 20px;
    font-size: 22px;
    color: #040810;
    margin-left: 12px;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -12px;
      width: 4px;
      height: 24px;
      background: #1577ca;
    }
  }

  /* ---------- WRAPPER ---------- */
  &__wrapper {
    display: flex;
  }

  /* ---------- CATEGORY (UL) ---------- */
  .catalog__category {
    position: relative;
    background: #000;
    align-self: stretch;
    height: auto;
    min-height: 100%;
    transition: height 0.35s ease;

    & + & {
      margin-left: 20px;
      padding-left: 20px;
    }
  }

  /* ---------- MENU ITEM (LI) ---------- */
  .menu__item {
    padding: 6px 20px;
    line-height: 1.4;
    position: static;

    &:hover {
      > .catalog__category-two,
      > .catalog__category-three {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
      }
    }
  }

  /* ---------- SUBMENU 2 и 3 уровня ---------- */
  .catalog__category-two,
  .catalog__category-three {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;

    min-width: 260px;
    max-width: 300px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translateX(10px);
    transition: opacity 0.25s ease, transform 0.25s ease;
  }

  /* ---------- MENU LINK ---------- */
  .menu__item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    width: 100%;
    font-size: 16px;
    line-height: 1.3;
  }

  .menu__item-name {
    max-width: 200px;
    white-space: normal;
    word-break: break-word;
  }

  /* ---------- ARROW ---------- */
  .menu__arrow {
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    margin-left: auto;

    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  /* ---------- SHOW ARROW ONLY IF HAS CHILD ---------- */
  .menu__item:has(> .catalog__category-two),
  .menu__item:has(> .catalog__category-three) {
    > .menu__item-link {
      .menu__arrow {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}


.burger {
  background: #1577ca;
  color: #fff;
  display: flex;
  padding: 13px 16px;
  border-radius: 6px;
  cursor: pointer;
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 32px;
  transition: all 0.5s;

  &.active {
    background: transparent;
    border: 1px solid #1577ca;
    color: #1577ca;
    transition: all 0.5s;

    span {
      display: none;
    }

    .burger__box::before {
      background: #1577ca;
      transform: rotate(136deg);
      top: 9px;
      transition: all 0.5s;
    }

    .burger__box::after {
      background: #1577ca;
      bottom: 13px;
      transform: rotate(45deg);
      transition: all 0.5s;
    }
  }

  &__content {
    font-size: 14px;
  }

  &__box {
    position: relative;
    margin-right: 20px;
    height: 24px;

    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 20px;
      background: #fff;
      position: absolute;
      top: 4px;
      transition: all 0.5s;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 2px;
      width: 20px;
      background: #fff;
      bottom: 4px;
      transition: all 0.5s;
    }
  }

  span {
    display: block;
    height: 2px;
    width: 20px;
    background: #fff;
    position: absolute;
    top: 11px;
    transition: all 0.5s;
  }
}

.search {
  max-width: 400px;
  width: 100%;
  height: 50px;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 15px;
  color: #040810;

  font-size: 14px;

  &__svg {
    fill: transparent;
    stroke: #040810;
    width: 24px;
    height: 24px;
  }

  &__input {
    width: 100%;
    padding-left: 24px;
    outline: none;
    box-shadow: none;
  }

  &__input::placeholder {
    font-size: 14px;
    color: gray;
  }

  &__btn {
    display: flex;
    flex: 0 0 132px;
    gap: 6px;
    align-items: center;
    justify-content: center;
    color: #040810;

    font-size: 14px;

    &:hover {
      transition: all 0.5s;
      background: #1577ca;
      color: #fff;

      svg {
        transition: all 0.5s;
        stroke: #fff;
      }
    }
  }
}

.burger-mobile {
  display: none;

  &.active {
    display: block;
    position: relative;
    background: #fff;
    z-index: 10;
    height: 100vh;
  }

  &__one-items {
    padding: 20px;
    border-bottom: 1px solid var(--delider, #f2f2f2);
  }

  &__one-item {
    padding: 10px;
  }

  &__one-link {
    font-size: 15px;

    color: rgba(80, 80, 80, 1);
    transition: all 0.5s;

    &:hover {
      color: #1577ca;
      transition: all 0.5s;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
  }

  &__social-image {
    width: 40px;
    height: 40px;
  }
}

@keyframes showNav {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  60% {
    opacity: 1;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1450px) {
  .header {
    .logo {
      max-width: 200px;
      height: 30px;
    }

    .header__tel {
      font-size: 16px;
      max-width: 150px;
    }
  }

  .burger {
    padding: 10px;
    width: 40px;
    height: 40px;

    &__content {
      display: none;
    }

    &.active {
      padding: 11px;

      .burger__box::before {
        top: 10px;
        left: -1px;
      }

      .burger__box::after {
        bottom: 12px;
        left: -2px;
      }
    }
  }

  .search {
    &__btn {
      flex: 0 0 100px;
    }
  }
}

.burger-mobile {
  display: none;

  &.active {
    display: block;
    position: relative;
    background: #fff;
    z-index: 10;
    height: 100vh;
  }

  &__one-item {
    padding: 10px;
  }

  &__one-link {
    font-size: 15px;

    color: rgba(80, 80, 80, 1);
    transition: all 0.5s;

    &:hover {
      color: #1577ca;
      transition: all 0.5s;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
  }

  &__social-image {
    width: 40px;
    height: 40px;
  }
}

.spoller {
  padding: 25px 20px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__title,
  &__subtitle {
    display: inline-block;
    border-bottom: 1px dashed #404040;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    color: #404040;
    cursor: pointer;

    &.open {
      border-bottom: none;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #565656;
  }

  &__body {
    height: 0px;
    overflow: hidden;
    transition: height 500ms ease;
  }

  &__list {
    margin-top: 20px;
  }

  &__link {
    font-size: 14px;
    color: #2f80ed;
    margin-top: 20px;
  }
  .js-title {
    padding-right: 2px;
  }
  .js-title .arrow {
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
    transition: transform 0.3s;
  }

  .js-title.open .arrow {
    transform: rotate(-135deg);
  }
}

@keyframes showNav {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  60% {
    opacity: 1;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1450px) {
  .header {
    .logo {
      max-width: 200px;
      height: 30px;
    }

    .header__tel {
      font-size: 16px;
      max-width: 150px;
    }
  }

  .burger {
    padding: 10px;
    width: 40px;
    height: 40px;

    &__content {
      display: none;
    }

    &.active {
      padding: 11px;

      .burger__box::before {
        top: 10px;
        left: -1px;
      }

      .burger__box::after {
        bottom: 12px;
        left: -2px;
      }
    }
  }

  .search {
    &__btn {
      flex: 0 0 100px;
    }
  }
}

@media (max-width: 1100px) {
  .search {
    &__btn {
      flex: 0 0 50px;
    }

    span {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    &__mobile {
      display: flex;
      position: unset;
      opacity: 1;

      &.disabled {
        position: absolute;
        z-index: -2;
        opacity: 0;
      }
    }

    &__desktop {
      display: none;
    }

    &__box + &__box {
      margin-left: 0;
    }

    &__wrapper {
      width: 100%;
      justify-content: space-between;
    }

    &__detals {
      display: flex;
      gap: 6px;
    }

    &__search-btn {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: 2px solid #f2f2f2;

      .search__svg {
        stroke: #1577ca;
      }
    }

    .logo {
      margin: 0px 20px;
      min-width: 130px;

      img {
        width: 100%;
      }
    }

    &__box-detals {
      &.active {
        animation: showNav 0.6s ease forwards;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;
        padding: 30px 0px;
        padding-top: 0;
        opacity: 1;
      }
    }

    &__box {
      width: 40px;
      height: 40px;
      padding: 6px;
    }

    .header__tel {
      margin: 0px;
    }
  }

  .burger {
    margin-left: 0;
    background: transparent;
    border: 2px solid #f2f2f2;

    span {
      background: #1577ca;
    }

    .burger__box::before {
      background: #1577ca;
    }

    .burger__box::after {
      background: #1577ca;
    }
  }

  .search {
    &__btn {
      background: transparent;
    }
  }

  .burger-mobile {
    &__box {
      padding: 16px 10px 16px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--delider, rgba(242, 242, 242, 1));
    }

    &__title {
      font-size: 22px;
      color: #040810;
      position: relative;
      margin-left: 12px;
      display: flex;
      align-items: center;
      font-size: 22px;

      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 24px;
        background: #1577ca;
        left: -12px;
      }
    }

    &__image-clouse {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    &__content:first-child {
      border-top: none;
    }

    &__content {
      padding: 10px 0;
      margin: 0 0px 0px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid var(--delider, rgba(242, 242, 242, 1));
      border-left: none;
      padding-right: 12px;
      border-right: none;
    }

    &__content {
      cursor: pointer;
      transition: all 0.5s;

      &:hover a {
        color: #1577ca;
        transition: all 0.5s;
      }
    }

    &__arrow {
      transition: all 0.5s;
    }

    &__arrow.active {
      transform: rotate(90deg);
      transition: all 0.5s;
    }

    &__link {
      color: black;
      font-size: 17px;
    }

    .spoller {
      padding: 20px;
      border-bottom: 1px solid var(--delider, #f2f2f2);
      position: absolute;
      z-index: -1;
      opacity: 0;
      transition: all 0.5s;
    }

    .spoller.active {
      position: unset;
      z-index: 1;
      opacity: 1;
      animation: showNav 0.6s ease forwards;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
    }

    .container {
      padding: 0 10px;
    }
  }
}

@media (max-width: 668px) {
  .header {
    .container {
      padding: 0 10px;
    }

    &__mobile {
      padding: 10px 0;
    }
  }

  .search {
    max-width: 100%;
    margin: 0px 10px;
  }
}
