<header class="header">
  <!-- Navbar -->
  <div class="header__desktop">
    <div class="container">
      <div class="header__wrapper">
        <div class="navbar">
          <div class="logo">
            <a href="#"> <img src="img/header/logo.png" alt="" /> </a>
          </div>

          <button class="burger">
            <div class="burger__box">
              <span></span>
            </div>
            <div class="burger__content">Каталог товарів</div>
          </button>
          <!--    nav menu page 
          <nav class="nav__menu">
            <ul class="menu">
              <li class="menu__item">
                <a href="#" class="menu__item-link" data-scroll>Portfolio</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link" data-scroll>Info</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link" data-scroll>About</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__item-link" data-scroll>Contacts</a>
              </li>
            </ul>
          </nav>
 -->
          <form class="header__search search" action="#">
            <input
              class="search__input"
              type="text"
              placeholder="Пошук товару"
            />
            <button class="search__btn" type="submit">
              <svg class="search__svg">
                <use xlink:href="img/header/search.svg#search"></use>
              </svg>
              <span>Знайти</span>
            </button>
          </form>

          <div class="header__wishlist wishlist header__box">
            <svg class="wishlist__svg">
              <use xlink:href="img/header/wishlist.svg#wishlist"></use>
            </svg>
            <span class="wishlist__number">0</span>
          </div>

          <div class="header__cart cart header__box">
            <svg class="cart__svg">
              <use xlink:href="img/header/cart.svg#cart"></use>
            </svg>
            <span class="cart__number">0</span>
          </div>

          <div class="header__account account header__box">
            <svg class="wishlist__svg">
              <use xlink:href="img/header/account.svg#account"></use>
            </svg>
          </div>

          <a class="header__tel" href="tel:+380631298869">380 (63) 129-88-69</a>

          <div class="header__languages languages">
            <a href="#" class="languages__link active">UA</a>
            <a href="#" class="languages__link">RU</a>
          </div>
        </div>
      </div>

      <nav class="catalog">
        <h3 class="catalog__title">Каталог товарів</h3>

        <div class="catalog__wrapper">
          <ul class="menu catalog__category catalog__category-one ">
            <!-- 1 уровень -->
            <li class="menu__item">
              <a class="menu__item-link" href="#">
                <div class="menu__item-name">Покриття для бетону</div>
                <span class="menu__arrow"></span>
              </a>

              <!-- 2 уровень -->
              <ul class="catalog__category catalog__category-two">
                <li class="menu__item">
                  <a class="menu__item-link" href="#">
                    <div class="menu__item-name">Фуга епоксидна</div>
                    <span class="menu__arrow"></span>
                  </a>

                 
            
                </li>

                <li class="menu__item">
                  <a class="menu__item-link" href="#">
                    <div class="menu__item-name">Уровень 2rr - Товар</div>
                    <span class="menu__arrow"></span>
                  </a>

                  <ul class="catalog__category catalog__category-three">
                    <li class="menu__item">
                      <a class="menu__item-link" href="#">
                        <div class="menu__item-name">Уровень 3rr - Товар</div>
                      </a>
                    </li>
                    <li class="menu__item">
                      <a class="menu__item-link" href="#">
                        <div class="menu__item-name">Уровень 3rr - Товар</div>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <!-- 1 уровень без вложенности -->
                  <li class="menu__item">
              <a class="menu__item-link" href="#">
                <div class="menu__item-name">Покриття для бетону24124241</div>
                <span class="menu__arrow"></span>
              </a>

              <!-- 2 уровень -->
              <ul class="catalog__category catalog__category-two">
                <li class="menu__item">
                  <a class="menu__item-link" href="#">
                    <div class="menu__item-name">Фуга 421421214214</div>
                    <span class="menu__arrow"></span>
                  </a>

                  <!-- 3 уровень -->
                  <ul class="catalog__category catalog__category-three">
                    <li class="menu__item">
                      <a class="menu__item-link" href="#">
                        <div class="menu__item-name">Уровень 3 - Т214214214овар</div>
                      </a>
                    </li>
                    <li class="menu__item">
                      <a class="menu__item-link" href="#">
                        <div class="menu__item-name">Уровень 3 - То124241214вар</div>
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="menu__item">
                  <a class="menu__item-link" href="#">
                    <div class="menu__item-name">Уровень 2rr - Товар</div>
                    <span class="menu__arrow"></span>
                  </a>

                  <ul class="catalog__category catalog__category-three">
                    <li class="menu__item">
                      <a class="menu__item-link" href="#">
                        <div class="menu__item-name">Уровень 3rr - Товар</div>
                      </a>
                    </li>
                    <li class="menu__item">
                      <a class="menu__item-link" href="#">
                        <div class="menu__item-name">Уровень 3rr - Товар</div>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>


      </nav>
    </div>
  </div>

  <div class="header__mobile">
    <div class="container">
      <div class="navbar">
        <div class="header__wrapper">
          <div class="header__detals">
            <button class="burger burger__mobile-btn">
              <div class="burger__box">
                <span></span>
              </div>
              <div class="burger__content">Каталог товарів</div>
            </button>

            <button class="header__search-btn" type="submit">
              <svg class="search__svg">
                <use xlink:href="img/header/search.svg#search"></use>
              </svg>
            </button>
          </div>
          <div class="logo">
            <a href="#"> <img src="img/header/logo.png" alt="" /> </a>
          </div>
          <div class="header__detals">
            <div class="header__wishlist wishlist header__box">
              <svg class="wishlist__svg">
                <use xlink:href="img/header/wishlist.svg#wishlist"></use>
              </svg>
              <span class="wishlist__number">0</span>
            </div>

            <div class="header__cart cart header__box">
              <svg class="cart__svg">
                <use xlink:href="img/header/cart.svg#cart"></use>
              </svg>
              <span class="cart__number">0</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__box-detals">
    <form class="header__search search" action="#">
      <input class="search__input" type="text" placeholder="Пошук товару" />
      <button class="search__btn" type="submit">
        <svg class="search__svg">
          <use xlink:href="img/header/search.svg#search"></use>
        </svg>
        <span>Знайти</span>
      </button>
    </form>
  </div>

  <div class="burger-mobile">
    <div class="burger-mobile__box">
      <h3 class="burger-mobile__title">Меню</h3>
      <img
        class="burger-mobile__image-clouse"
        src="img/header/clouse.png"
        alt="clouse"
      />
    </div>

    <ul class="burger-mobile__items">
      <li class="burger-mobile__item">
        <div class="burger-mobile__content burger-mobile__table">
          <a class="burger-mobile__link"> Каталог товарів</a>
          <img
            class="burger-mobile__arrow"
            src="img/header/arrow.png"
            alt="arrow"
          />
        </div>

    <ul class="spoller spoller__catalog-mobile">
  <li class="spoller__item">
    <div class="spoller__header">
      <h3 class="spoller__title js-title">дубаи край</h3>
    </div>
    <div class="spoller__body">
      <ul class="spoller__list">
        <li class="spoller__item">
          <h4 class="spoller__subtitle js-title">Курорты тунс</h4>
          <div class="spoller__body">
            <ul class="spoller__list">
              <li class="spoller__item">
                <a class="spoller__link" href="#">Агая</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">Бухта </a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">париж</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">лакоста</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">Лалампур</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="spoller__item">
          <h4 class="spoller__subtitle js-title">Курорты</h4>
          <div class="spoller__body">
            <ul class="spoller__list">
              <li class="spoller__item">
                <a class="spoller__link" href="#">абрикоса</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">винаград</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">кукрудза</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">винт</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">крыло</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="spoller__item">
          <h4 class="spoller__subtitle js-title">астрология</h4>
          <div class="spoller__body">
            <ul class="spoller__list">
              <li class="spoller__item">
                <a class="spoller__link" href="#">марс</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">юпитер</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">винера</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">сатурн</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">сонце</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="spoller__item">
          <h4 class="spoller__subtitle js-title">Курот</h4>
          <div class="spoller__body">
            <ul class="spoller__list">
              <li class="spoller__item">
                <a class="spoller__link" href="#">фрика</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">греция</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">монако</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">тайланд</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">стамбул</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="spoller__item">
          <h4 class="spoller__subtitle js-title">карты</h4>
          <div class="spoller__body">
            <ul class="spoller__list">
              <li class="spoller__item">
                <a class="spoller__link" href="#">король</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">туз</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">валет</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">дама</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">шут</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </li>
  <li class="spoller__item">
    <h4 class="spoller__title js-title">кросовки марки</h4>
    <div class="spoller__body">
      <ul class="spoller__list">
        <li class="spoller__item">
          <a class="spoller__link" href="#">адидас</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">пума</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">рибок</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">найк</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">лакоста</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="spoller__item">
    <h4 class="spoller__title js-title">копютеры</h4>
    <div class="spoller__body">
      <ul class="spoller__list">
        <li class="spoller__item">
          <a class="spoller__link" href="#">клавиатура</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">мышка</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">монитор</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">матирнская плата</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">системник</a>
        </li>
      </ul>
    </div>
  </li>
</ul>

      </li>
   
    </ul>

  </div>
</header>
